<footer>
    <div class="layout-container">
        <div class="menu-wrapper">
            <img src="assets/footer/footer-logo.svg" alt="footer-logo">
            <ul class="navigation-list">
                <li class="navigarion-item">
                    <a href="" class="navigation-link">О Компании</a>
                </li>
                <li class="navigarion-item">
                    <a href="" class="navigation-link">Контакты</a>
                </li>
                <li class="navigarion-item">
                    <a href="" class="navigation-link">Вакансии</a>
                </li>
                <li class="navigarion-item">
                    <a href="" class="navigation-link">Статьи</a>
                </li>
                <li class="navigarion-item">
                    <a href="" class="navigation-link">Политика обработки персональных данных</a>
                </li>
            </ul>
        </div>
        <div class="contact-wrapper">
            <ul class="social-list">
                <li class="social-item">
                    <a href="" class="social-link">
                        <img src="assets/footer/footer-insta.svg" alt="footer-social" class="footer-social">
                    </a>
                </li>
                <li class="social-item">
                    <a href="" class="social-link">
                        <img src="assets/footer/footer-vk.svg" alt="footer-social" class="footer-social">
                    </a>
                </li>
                <li class="social-item">
                    <a href="" class="social-link">
                        <img src="assets/footer/footer-facebook.svg" alt="footer-social" class="footer-social">
                    </a>
                </li>
                <li class="social-item">
                    <a href="" class="social-link">
                        <img src="assets/footer/footer-ok.svg" alt="footer-social" class="footer-social">
                    </a>
                </li>
            </ul>
            <div class="phone-wrapper">
                <img src="assets/footer/footer-phone.svg" alt="footer-phone">
                <p class="phone">
                    8 800 777 33 33
                </p>
            </div>
        </div>
    </div>
</footer>