<div class="content-main">
    <ng-container *ngIf="!isAdminPage">
        <app-product-card *ngFor="let product of products" 
            [product]="product"
        ></app-product-card>
    </ng-container>
    <ng-container *ngIf="isAdminPage">
        <app-product-card-admin *ngFor="let product of products" 
            [product]="product" 
            (deletedProduct)="deleteProduct($event)"
            (updatedProduct)="updateProduct($event)"
        ></app-product-card-admin>
    </ng-container>
</div>
