@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixins/mixins.scss";

.bg-wrapper {
    background: $main-bg;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;

    .auth-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 32px;
        max-width: 1208px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        padding: 40px 16px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .company-wrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .company-title {
                    color: $main-surface;
                    font-size: 64px;
                    font-weight: 700;
                }

                .company-desc {
                    color: $orange-color;
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            .banner {
                display: flex;
                justify-content: space-around;
                padding: 20px 30px;
                background: $main-primary-muted;
                border-radius: 4px;
                box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);

                .desc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 260px;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px;
                    }

                    .text {
                        font-size: 16px;
                    }
                }
            }
        }

        .form-wrapper {
            display: flex;
            flex-direction: column;
            gap: 32px;
            background: $white-color;
            border: 1px solid $green-color;
            border-radius: 8px;
            padding: 30px 40px;

            .logo-wrapper {
                display: flex;
                justify-content: center;
            }

            .nav {
                display: flex;
                justify-content: center;
                gap: 20px;

                .tab {
                    .link {
                        color: $green-color;
                        font-size: 20px;
                        cursor: pointer;

                        &.active {
                            color: $orange-color;
                            border-bottom: 2px solid $orange-color;
                        }
                    }
                }
            }

            .base-form {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .form-group {
                    font-family: 'Rubik';

                    .form-label {
                        font-size: 16px;
                    }

                    .form-control {
                        padding: 7px;
                        border-radius: 4px;
                        border: 1px solid $green-color;
                    }

                    .pass-input {
                        position: relative;

                        .toggle-pass {
                            cursor: pointer;
                            position: absolute;
                            right: 8px;
                            top: 10px;
                        }
                    }
                }

                .btn {
                    background-color: $green-color;
                    border: 1px solid $green-color;
                    font-size: 20px;
                    font-family: 'Rubik';

                    &:hover {
                        background: $orange-color;
                        border: 1px solid $orange-color;
                    }
                }
            }
        }
    }
}

@include tablet- {
    .bg-wrapper {
        .auth-wrapper {
            display: flex;

            .info {
                display: none;
            }

            .form-wrapper {
                padding: 20px 20px;
            }
        }
    }
}