<main>
    <div class="container">
        <h1 class="title">
            Корзина
        </h1>
        <div class="row">
            <div class="col-sm-8 left-column">
                <div class="controls">
                    <button class="control-button">
                        <img src="assets/basket/basket-checkbox.svg" alt="minus-icon">
                        Выделить все
                    </button>
                    <button class="control-button delete">
                        Удалить выбранные
                    </button>
                </div>
                <app-product-card-basket *ngFor="let product of products" [product]="product"></app-product-card-basket>
            </div>
            <div class="col-sm-3 right-column">
                <div class="bonus-wrapper">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Списать {{ 200 | rubles }}</label>
                    </div>
                    <p class="bonus">
                        На карте накоплено 200 ₽
                    </p>
                </div>
                <hr class="divider">
                <div class="info-wrapper">
                    <div class="info">
                        <p class="left-text">
                            3 Товара
                        </p>
                        <p class="right-text">
                            1059,00 ₽
                        </p>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <p class="left-text">
                            Скидка
                        </p>
                        <p class="right-text orange">
                            -8,01 ₽
                        </p>
                    </div>
                </div>
                <hr class="divider">
                <div class="info-wrapper">
                    <div class="info">
                        <p class="left-text">
                            Итог
                        </p>
                        <p class="right-text bold">
                            1050,99 ₽
                        </p>
                    </div>
                </div>
                <button class="bonus-btn">
                    <img src="assets/product-page/prod-page-atom.svg" alt="product-page-icon-atom">
                    Вы получете {{ 10 }} бонусов
                </button>
                <button class="offer-btn">
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>
</main>