@import "src/assets/variables.scss";
@import "src/mixins/mixins.scss";

main {
    background: $main-bg;

    .basket-wrapper {
        @include layout-page-style;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 28px 0px 80px 0px;

        .title {
            font-size: 64px;
            font-weight: 700;
            color: $main-surface;
        }

        .basket {
            display: flex;
            gap: 40px;

            .products {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .controls {
                    display: flex;
                    gap: 40px;

                    .control-button {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding: 8px;
                        font-family: 'Rubik';
                        font-size: 12px;

                        &.delete {
                            color: $orange-color;
                        }
                    }
                }
            }

            .info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 48px;
                margin-top: 52px;


            }
        }
    }
}