$green-color: #70C05B;
$grayscale-dark: #8F8F8F;
$main-surface: #414141;
$main-bg: #FBF8EC;
$main-primary-muted: #FCD5BA;
$grayscale-hardest: #606060;
$grayscale-light: #BFBFBF;
$grayscale-lightest: #F3F2F1;
$orange-color: #FF6633;
$white-color: #FFF