<nav class="content">
    <div class="search">
        <div class="search-input-wrapper">
            <input class="search-input" placeholder="Найти товар">
            <img src="assets/header/header-search.svg" alt="header-search">
        </div>
    </div>
    <div class="link-wrapper">
        <a href="#" class="link">
            Каталог
        </a>
    </div>
    <div class="link-wrapper">
        <a href="#" class="link">
            Избранное
        </a>
    </div>
    <div class="link-wrapper">
        <a href="#" class="link">
            Заказы
        </a>
    </div>
    <div class="link-wrapper">
        <a href="#" class="link">
            Корзина
        </a>
    </div>
    <button type="button" class="btn btn-success" routerLink="/auth">
        Авторизация
    </button>
</nav>