<main class="main">
    <div class="top-banner">
        <div class="image-wrapper">
            <img src="assets/home-page/fruit.svg" class="banner-image">
            <h2 class="banner-title">
                Доставка бесплатно от 1000 ₽
            </h2>
        </div>
    </div>
    <div class="main-content">
        <div class="content-wrapper">
            <div class="content-header">
                <h2 class="title">Акции</h2>
                <button class="more">
                    Все акции
                    <img src="assets/common/arrow-right.svg" alt="arrow-right">
                </button>
            </div>
            <app-product-list
                [products]="products"
            ></app-product-list>
        </div>
        <div class="content-wrapper">
            <div class="content-header">
                <h2 class="title">Новинки</h2>
                <button class="more">
                    Все новинки
                    <img src="assets/common/arrow-right.svg" alt="arrow-right">
                </button>
            </div>
            <app-product-list
                [products]="products"
            ></app-product-list>
        </div>
        <div class="content-wrapper">
            <div class="content-header">
                <h2 class="title">Покупали ранее</h2>
                <button class="more">
                    Все покупки
                    <img src="assets/common/arrow-right.svg" alt="arrow-right">
                </button>
            </div>
            <app-product-list
                [products]="products"
             ></app-product-list>
        </div>
        <div class="shops-wrapper">
            <h2 class="title">
                Наши магазины
            </h2>
            <div class="buttons-row">
                <button *ngFor="let data of maps; let i = index" class="location"
                    [class.active]="i === selectedMapIndex" (click)="selectMap(i)">
                    {{ data.location }}
                </button>
            </div>
            <div class="map-wrapper">
                <iframe class="map" [src]="maps[selectedMapIndex].link"></iframe>
            </div>
        </div>
    </div>
</main>