@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixins/mixins.scss";

.footer {
    width: 100vw;
    padding: 24px 16px 58px 16px;
    background: $main-bg;
    background-image: url('/assets/footer/footer-background.svg');

    .layout-container {
        max-width: 1208px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-wrapper {
            display: flex;
            align-items: center;
            gap: 40px;

            .navigation-list {
                display: flex;
                gap: 40px;

                .navigarion-item {
                    .navigation-link {
                        color: $main-surface;
                        font-size: 12px;
                    }
                }
            }
        }

        .contact-wrapper {
            display: flex;
            align-items: center;
            gap: 40px;

            .social-list {
                display: flex;
                align-items: center;
                gap: 16px;

                .social-item {
                    .social-link {
                        .footer-social {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .phone-wrapper {
                display: flex;
                align-items: center;
                gap: 8px;

                .footer-phone {
                    width: 24px;
                    height: 24px;
                }

                .number {
                    margin: 0px;
                }
            }
        }
    }
}

@include xl {
    .footer {
        .layout-container {
            .menu-wrapper {
                gap: 16px;

                .navigation-list {
                    gap: 20px;
                }
            }

            .contact-wrapper {
                gap: 16px;

                .social-list {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }
}

@include lg {
    .footer {
        .layout-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            .menu-wrapper {
                gap: 16px;
    
                .navigation-list {
                    display: flex;
                    gap: 16px;
                }
            }
        }
    }
}

@include sm {
    .footer {
        .layout-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
    
            .menu-wrapper {
                align-items: flex-start;
                flex-direction: column;
                gap: 16px;
    
                .navigation-list {
                    flex-direction: column;
                    gap: 16px;
                }
            }
        }
    }
}